* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Emprint Bold';
    src: url('../assets/fonts/EMprint-Bold.ttf');
}

@font-face {
    font-family: 'Emprint Light';
    src: url('../assets/fonts/EMprint-Light.ttf');
}

@font-face {
    font-family: 'Emprint Regular';
    src: url('../assets/fonts/EMprint-Regular.ttf');
}

@font-face {
    font-family: 'Emprint SemiBold';
    src: url('../assets/fonts/EMprint-Semibold.ttf');
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/fondo-login.png');
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    width: 50%;
}

.login-title {
    font-family: 'Emprint Bold';
    font-size: 4rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-email, .form-password, .form-submit {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 20px;
}
