* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Emprint Bold', sans-serif;
}

@font-face {
    font-family: 'Emprint Bold';
    src: url('../assets/fonts/EMprint-Bold.ttf');
}

@font-face {
    font-family: 'Emprint Light';
    src: url('../assets/fonts/EMprint-Light.ttf');
}

@font-face {
    font-family: 'Emprint Regular';
    src: url('../assets/fonts/EMprint-Regular.ttf');
}

@font-face {
    font-family: 'Emprint SemiBold';
    src: url('../assets/fonts/EMprint-Semibold.ttf');
}

.pioneros-logo-about {
    max-width: 23%;
    height: auto;
    margin-bottom: 20px;
}

.fill-with-mobil-logo{
    max-width: 15%;
    height: auto;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
}