* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Emprint Bold', sans-serif;
}

@font-face {
    font-family: 'Emprint Bold';
    src: url('../assets/fonts/EMprint-Bold.ttf');
}

@font-face {
    font-family: 'Emprint Light';
    src: url('../assets/fonts/EMprint-Light.ttf');
}

@font-face {
    font-family: 'Emprint Regular';
    src: url('../assets/fonts/EMprint-Regular.ttf');
}

@font-face {
    font-family: 'Emprint SemiBold';
    src: url('../assets/fonts/EMprint-Semibold.ttf');
}

.pioneros-logo-about {
    max-width: 15%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-with-mobil-logo {
    max-width: 15%;
    height: auto;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    font-family: 'Emprint Bold', Arial, sans-serif;
}

#icono-regresar {
    margin-right: 15px;
    font-size: 2rem;
    margin-top: -10px;
}

/* Media Queries para Mobile */
@media screen and (max-width: 768px) {

    .back-button {
        bottom: 15px;
        left: 15px;
        font-size: 0.9rem;
    }

    #icono-regresar {
        margin-right: 10px;
        font-size: 1.8rem;
        margin-top: -8px;
    }
}

@media screen and (max-width: 480px) {
    .pioneros-logo-about {
        max-width: 50%;
        width: 50%;
        top: 2px;
        left: 2px;
    }

    .fill-with-mobil-logo {
        max-width: 40%;
        width: 40%;
        top: 2px;
        right: 2px;
    }

    .back-button {
        bottom: 10px;
        left: 10px;
        font-size: 0.8rem;
    }

    #icono-regresar {
        margin-right: 8px;
        font-size: 1.6rem;
        margin-top: -6px;
    }
}